.slider {
    background-color: rgb(109, 184, 216);
    height: 200px;
    border-radius: 5px;
    margin: 50px;
    display: flex;
    align-items: center;
}

.deckTitle {
    color: white;
}

.slick-dots li button:before{
    color: white;
}


.slick-dots li.slick-active button:before{
    color: rgb(109, 184, 216);
}